@model Restaurant.Models.AdminPanelView

@{
    ViewData["Title"] = "Admin Paneli";
}
<style>
    * {
        color:  white;
    }
    body {
        background-image: url("../images/background.jpg");
        background-size: cover;      /* Fill the screen */
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #homebutton {
        width: 2.5rem; 
        padding-left: 1rem; 
        padding-top: 1rem;
        transition: all 0.4s;
    }
    #homebutton:hover {
        transform: scale(1.25);
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <title>Admin Page</title>
</head>
<body>
<h2>Staff Members</h2>

<p>
    <a asp-action="Create">Add New Staff</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Job</th>
        <th>Tel No</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var staff in Model.StaffMembers)
    {
        <tr>
            <td>@staff.Name</td>
            <td>@staff.Surname</td>
            <td>@staff.Job</td>
            <td>@staff.TelNo</td>
            <td>
                <a asp-action="Edit" asp-route-id="@staff.StaffId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@staff.StaffId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<h2>Upcoming Receipts</h2>

<table class="table">
    <thead>
    <tr>
        <th>Guest Name</th>
        <th>Tel No</th>
        <th>Guest Number</th>
        <th>Served By</th>
        <th>Table</th>
        <th>Reservation Date</th>
        <th>Reservation Hour</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var receipt in Model.UpcomingReceipts)
    {
        <tr>
            <td>@receipt.Name @receipt.Surname</td>
            <td>@receipt.TelNo</td>
            <td>@receipt.GuestNumber</td>
            <td>@receipt.ServedBy?.Name @receipt.ServedBy?.Surname</td>
            <td>@receipt.Table?.TableId</td>
            <td>@receipt.ReservationDate.ToShortDateString()</td>
            <td>@receipt.ReservationHour</td>
            <td>
                <a asp-action="Edit" asp-route-id="@receipt.ReceiptId">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>


<div>
    <a asp-controller="Home" asp-action="Index"><img src="~/images/home.png" alt="home" id="homebutton"></img></a>
</div>
</body>
</html>